body {
  background-color: #ecf0f1;
}
.gallery__wrapper {
  margin-right: 60px;
  @media (max-width: 480px) {
    margin-right: 0;
  }
}
.gallery-title {
  --b: 3px; /* control the border thickness */
  --w: 80px; /* control the width of the line*/
  --g: 15px; /* control the gap */
  --c: rgb(100, 173, 82);

  width: fit-content;
  padding: 0 1em;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background: conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
    conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image: linear-gradient(
      #0000 calc(50% - var(--b) / 2),
      var(--c) 0 calc(50% + var(--b) / 2),
      #0000 0
    )
    1/0 var(--w) / calc(var(--w) + var(--g));
  margin-inline: auto;
  @media (max-width: 768px) {
    line-height: 1.2;
    font-size: 14px;
  }
  @media (max-width: 480px) {
    line-height: 1.1;
    font-size: 12px;
  }
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.gallery-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.gallery-item:hover {
  opacity: 1;
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.lightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.lightbox-content {
  position: relative;
  max-width: 70%;
  max-height: 80%;
}

.lightbox-content img {
  border-radius: 7px;
  box-shadow: 0 0 8px 0 rgba(225, 225, 225, 0.25);
  width: 100%;
  height: auto;
  object-fit: contain;
}

.lightbox-prev,
.lightbox-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
}

.lightbox-prev {
  left: -45px;
}

.lightbox-next {
  right: -45px;
}

.lightbox-prev:hover,
.lightbox-next:hover {
  background-color: rgba(0, 0, 0, 1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .gallery-container {
    width: 100%;
  }
  .gallery-item {
    flex-basis: 33.8%;
  }
}

@media (max-width: 480px) {
  .gallery-item {
    flex-basis: 50%;
  }
  .lightbox-content {
    max-width: 90%;
    max-height: 90%;
  }
}
